@model front_end_web_app_html5_javascript_css.Models.EchoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Echo</title>
</head>
<body>
    <div> 
        <h1>@Model.EchoName.</h1>
    </div>
</body>
</html>
