@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Echo</title>
</head>
<body>
    <div>
        <form action="http://localhost:56538/Home/Echo" method="post">
            <input name="searchPhrase" />
            <input type="submit" value="search" />
        </form>
    </div>

    <div id="TestDiv">

    </div>

    <div id="TestResult">

    </div>

    <div id="listDiv">
        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>
    </div>

    <div id="buttonDive">
        <button id="tonggleButton">Hide</button>
    </div>

    <div id="resultArray1Div"></div>

    <script type="text/javascript">


    </script>



</body>
</html>
