@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Echo</title>
</head>
<body>
    <div>
        <form action="http://localhost:56538/Home/Echo" method="post">
            <input name="searchPhrase" />
            <input type="submit" value="search" />
        </form>
    </div>
</body>
</html>
