<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="http://maps.google.cn/maps/api/js?key=AIzaSyBs787JPiosO-klPCqytW9cWw7CTZHGdW4"
            type="text/javascript">
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
